<link rel="stylesheet" href="/css/user_profile.css" />

<h3>Codeial || <%= title%></h3>



<% if(user.id == profile_user.id) {%>
	<!-- If user matches show the update form -->
	<form action="/users/update/<%= profile_user.id%>" method="POST">
		<input type="text" name="name" placeholder="Your name" value="<%= profile_user.name%>" required>
		<input type="email" name="email" placeholder="Your email" value="<%= profile_user.email%>" required>
		<input type="submit" value="Update">
	</form>

<%} else {%>
<!-- else show the user's profile -->
<p><%= profile_user.email%></p>
<p><%= profile_user.name%></p>
<%} %>
